@import "../../style/variables.scss";
@import "../../style//template.scss";

.nav {
    display: flex;
}

.item {
    text-decoration: none;
    padding-left: 2vw;
    color: $color3;
}

// .item:active {
//     color: $color-red;
// }