@import "../../style/variables.scss";
@import "../../style//template.scss";

.cont {
    padding-left: 5%;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid $color1;
    width: 90vw;
    margin-top: 1vw;
    align-items: center;
    justify-items: center;

}

.icon {
    width: 3vw;
}