@import "../../style/variables.scss";
@import "../../style//template.scss";

.cont {
    padding-left: 5%;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid $color1;
    width: 90vw;
    margin-top: 1vw;
    align-items: center;
    justify-items: center;

}

.icon {
    width: 3vw;
}

@media (min-width: 650px) and (max-width: 1023px) {

    /* CSS-стили Tablet*/

    .icon {
        width: 5vw;
    }
}

@media screen and (max-width: 649px) {

    /* CSS-стили Smartphone*/
    .icon {
        width: 8vw;
    }
}