@import "../../style/variables.scss";
@import "../../style//template.scss";

.cont {
    @include text2;
    min-height: 77.4vh;
    margin: 5vw auto 0 auto;
}

.text {
    color: $background2;
}

@media (min-width: 600px) and (max-width: 1023px) {
    /* CSS-стили Tablet*/

}

@media screen and (max-width: 599px) {
    /* CSS-стили Smartphone*/

}