@import "../../style/variables.scss";
@import "../../style//template.scss";

.cont {
    @include text1;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.btn {
    background-color: $color3;
    border: none;
}

.icon {
    width: 4vw;
}