@import "../../style/variables.scss";

.card {
    border: 3px solid $color1;
    border-radius: 25px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 26vw;
    width: 20vw;
    gap: 0.8rem;
    margin-top: 2%;

}

.transcription {
    color: rgb(255, 255, 255);

}

.transcriptionActiv {
    color: red;
}