@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400&display=swap');


$color1: rgba(0, 0, 0, 1);
$color2: rgba(147, 152, 120, 0.6);
$color3: rgb(255, 255, 255);
$background2: rgba(153, 130, 61, 1);

$font: 'Raleway', sans-serif;


// font-family: 'Raleway', sans-serif;