@import "../../style/variables.scss";
@import "../../style//template.scss";

.cont {
    @include text1;
    min-height: 80vh;
    margin: 5vw auto 5vw auto;
}

.conteunerButton {
    margin: auto;
    padding: auto;
    width: 10vw;
    margin-top: 2vw;
}

.buttonSave {
    text-align: center;
}

.icon {
    width: 2vw;
}

// .modal {
//     width: 100vw;
//     height: 100vh;
//     background-color: rgb(0, 0, 0, 0.4);
//     position: fixed;
//     top: 0;
//     left: 0;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transform: scale(0);
// }

// .modalActive {
//     transform: scale(1);
// }

// .modalContent {
//     padding: 20px;
//     border-radius: 12px;
//     background-color: white;
// }

@media (min-width: 600px) and (max-width: 1023px) {
    /* CSS-стили Tablet*/

}

@media screen and (max-width: 599px) {
    /* CSS-стили Smartphone*/

}